.greenPopupGrid {
  grid-template-rows: 1fr 1fr;
  justify-self: end;
}

.greenPopup {
  width: 350px;
  height: 185px;
  border-radius: theme("borderRadius.DEFAULT");
  background-color: theme("colors.cyan200");
}

.dark {
  background-color: theme("colors.cyan300");
  margin-top: 1rem;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
