.dashboard.vertical {
  transform: rotate(90deg) translateX(-25%);
  transform-origin: center;
  position: fixed;
  top: 50%;
  left: -120px;
  display: hidden;
  &:hover {
    transform: rotate(90deg) translateX(-25%) scale(1.1);
  }
}

.dashItems.vertical {
  transform: rotate(-90deg);
  &:hover {
    transform: rotate(-90deg) translateY(-5px) scale(1.1);
  }
}
.dashItems.vertical .labelContainer {
  display: none;
  left: 200px;
}

.dashItems.vertical .labelContainer {
  display: none;
  left: 200px;
}

.dashboard.vertical .dashItemContainer .labelContainer {
  transform: rotate(-90deg);
  top: -60px;
}

.dashboard.vertical .dashItemContainer:hover .labelContainer {
  display: block;
  transform: rotate(-90deg);
}

.dashboard {
  width: max-content;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--item));
  border-radius: 25rem;
  margin: auto;
  margin-top: 30px;
  padding: 0px 30px;
  column-gap: 20px;
  &:hover {
    transform: scale(1.025);
  }
}
.translate {
  padding: 0px 20px;
  position: absolute;
  top: 0;
  right: 5em;
}

.dashItems {
  width: 35px;
  height: 35px;
  color: hsl(var(--item-foreground));
  stroke-width: 1.5;
  transition: transform 185ms ease-in-out;
  padding: 0.2rem;
}

.dashItems:hover {
  color: hsl(var(--hover-color));
  cursor: pointer;
  transform: translateY(-5px) scale(1.1);
}

.dashItemContainer:hover .labelContainer {
  display: block;
}

.labelContainer {
  display: none;
  position: absolute;
  top: 45px;
  color: hsl(var(--hover-color));
  font-family: var(--font-grotesk);
}
.dashItemContainer {
  display: grid;
  justify-items: center;
}

.show {
  display: flex;
}

@media only screen and (max-width: 1200px) {
  .dashboard.vertical {
    display: none;
  }
  .translate {
    display: none;
  }
}
@media only screen and (max-width: 1250px) {
  .translate {
    display: none;
  }
  .dashboard {
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-color: rgb(52, 52, 52, 90%);
    border-width: 0.1rem;
    background-color: rgb(32, 32, 32, 50%);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 1rem;
    z-index: 20;
  }
}
