.projectCard {
  border-radius: 25px;
  margin-bottom: 2rem;
  &:hover {
    background-image: linear-gradient(
      to left,
      var(--foreground) 10%,
      var(--background) 100%
    );
  }
}

.cardContainer {
  display: flex;
  align-items: start;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

.expand {
  background-image: linear-gradient(
    to left,
    var(--foreground) 10%,
    var(--background) 100%
  );
  height: fit-content;
  align-items: start;
  margin-top: 1.5rem;
  column-gap: 1.5rem;
  box-shadow: var(--shadow-outset);

  .image {
    width: 15%;
  }
}

.expand2 {
  padding: 4rem 4rem 0 4rem;
}
.content {
  font-size: var(--text-medium);
  padding: 6rem 4rem 4rem 4rem;
}

.image {
  box-shadow: var(--shadow-outset);
  border-radius: 15px;
  background-color: green;
  width: 10%;
  aspect-ratio: 1/1;
  margin-right: 2rem;
}

.tag {
  box-shadow: var(--shadow-inset);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.7rem;
  width: auto;

  &:hover {
    box-shadow: inset -3px 3px 6px 0px rgba(0, 0, 0, 0.64);
    color: var(--primary-light);
    padding: 0.7rem 1.6rem;
  }
  background-color: var(--background);
  padding: 0.7rem 1.2rem 0.7rem 1.2rem;
  border-radius: 22px;
  font-family: "Space Mono", monospace;
}

.tag .logo {
  height: 1.2rem;
  width: 1.2rem;
}

@media screen and (max-width: 1500px) {
  .image {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .image {
    display: none;
  }
  .logo {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .expand2 {
    padding: 2rem 2rem 0 2rem;
  }
  .content {
    font-size: 1.1rem;
    padding: 3rem 2rem 2rem 2rem;
  }
  .tag {
    font-size: small;
  }
}
